:root {
  --title-text-color: #ba1b2e;

  --white-text-color: #ffffff;

  --black-text-color: #0d0d0d;

  --gray-text-color: rgba(255, 255, 255, 0.4);
}

.container {
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-image: url(../images/background/full-background-mobile-1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--white-text-color);
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .body {
    background-image: url(../images/background/full-background-mobile-2x.jpg);
  }
}

@media screen and (min-width: 428px) {
  .container {
    max-width: 428px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 43px;
    padding-right: 43px;
  }

  body {
    background-image: url(../images/background/full-background-tablet-1x.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .body {
      background-image: url(../images/background/full-background-tablet-2x.jpg);
    }
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 60px;
    padding-right: 60px;
  }

  body {
    background-image: url(../images/background/full-background-desktop-1280-1x.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .body {
      background-image: url(../images/background/full-background-desktop-1280-2x.jpg);
    }
  }
}

/********** section-header **********/

.section-header {
  padding-top: 60px;
  padding-bottom: 80px;
}

.main-title {
  color: var(--title-text-color);
  text-align: center;
  font-family: Unbounded;
  font-size: 73px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 87.6px */
  letter-spacing: -2.19px;

  margin-top: 0;
  margin-bottom: 20px;
}

.header-pre-title {
  font-family: Unbounded;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 90%; /* 27px */
  letter-spacing: -0.6px;

  margin-top: 0;
  margin-bottom: 20px;
}

.header-main-text {
  font-family: Mulish;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 19.6px */

  margin-top: 0;
  margin-bottom: 75px;

  max-width: 325px;
}

.section-header .wrapper {
  border-radius: 10px;
  background: #fff;
  padding: 12px 25px;

  margin-bottom: 55px;
}

.section-header .header-second-text {
  color: var(--black-text-color);
  text-align: center;
  font-family: Mulish;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 19.6px */

  margin: 0;
}

.header-scroll-down {
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-arrow-svg {
  margin-right: 12px;
}

.scroll-text {
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 16px */
  letter-spacing: -0.32px;
  text-transform: uppercase;

  margin: 0;
}

@media screen and (min-width: 768px) {
  .section-header {
    padding-bottom: 100px;
  }

  .main-title {
    font-size: 140px;
    letter-spacing: -4.2px;
  }

  .header-pre-title {
    font-size: 50px;
    letter-spacing: -1px;
  }

  .header-text-container {
    display: flex;
    justify-content: space-between;
  }

  .header-main-text {
    font-size: 15px;
    text-align: right;
    margin-bottom: 80px;
  }

  .section-header .wrapper {
    padding: 16px 55px;
    border-radius: 20px;
    margin-bottom: 42px;
  }

  .section-header .header-second-text {
    font-size: 16px;
  }

  .header-scroll-down {
    justify-content: end;
  }
}

@media screen and (min-width: 1280px) {
  .section-header {
    padding-bottom: 260px;
  }

  .main-title {
    font-size: 240px;
    letter-spacing: -7.2px;
  }

  .header-pre-title {
    font-size: 90px;
    letter-spacing: -1px;
  }

  .header-text-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }

  .header-main-text {
    font-size: 20px;
    text-align: right;
    margin-bottom: 80px;
    max-width: 478px;
  }

  .section-header .wrapper {
    padding: 0 0;
    border-radius: 0;
    margin-bottom: 42px;
    background: none;
  }

  .section-header .header-second-text {
    text-align: start;
    color: var(--white-text-color);
    font-size: 20px;
    width: 620px;
  }

  .header-scroll-down {
    justify-content: end;
  }

  .scroll-arrow-svg {
    width: 30px;
    height: 19px;
  }

  .scroll-text {
    font-size: 20px;
    letter-spacing: -0.4px;
  }
}

/********** section-one **********/

.section-one {
  padding-top: 0;
  padding-bottom: 100px;
}

.section-one .wrapper {
  border-radius: 30px;
  background: #fff;
  padding: 40px 22px;
}

.section-one .wrapper-title {
  color: var(--black-text-color);
  text-align: center;
  font-family: Unbounded;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 90%; /* 18px */
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 30px;
}

.one-wrapper-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section-one .one-list-item {
  color: var(--black-text-color);
  font-family: Mulish;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 21px */

  margin-bottom: 7px;
}

.section-one .one-list-item:last-child {
  margin-bottom: 35px;
}

.stroke::after {
  content: '';
  display: block;
  height: 1px;
  width: 200px;
  background-color: rgba(13, 13, 13, 0.2);

  margin-top: 7px;
}

.section-one-image {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .section-one {
    padding-bottom: 140px;
  }

  .section-one .wrapper {
    padding: 40px 40px;
  }

  .section-one .wrapper-title {
    font-size: 24px;
  }

  .section-one .one-list-item {
    width: 347px;
    font-size: 14px;
  }

  .wrapper-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .section-one-image {
    width: 245px;
    height: 251px;
  }

  .section-one .one-list-item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1280px) {
  .section-one {
    padding-bottom: 200px;
  }

  .section-one .wrapper {
    padding: 60px 60px;
  }

  .section-one .wrapper-title {
    font-size: 40px;
    margin-bottom: 57px;
  }

  .section-one .one-list-item {
    width: 549px;
    font-size: 22px;
    margin-bottom: 11px;
  }

  .section-one-image {
    width: 399px;
    height: 431px;
  }

  .stroke::after {
    margin-top: 11px;
  }
}

/********** section-two **********/

.section-two {
  padding-top: 0;
  padding-bottom: 100px;
}

.section-two-title {
  color: var(--title-text-color);
  text-align: center;
  font-family: Unbounded;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 26px */
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 32px;
}

.section-two .section-two-text {
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;

  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.section-two-text span {
  font-weight: 800;
}

.section-two .space-one {
  margin-bottom: 40px;
}

.section-two .space-two {
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .section-two {
    padding-bottom: 140px;
  }

  .section-two-title {
    font-size: 24px;
  }

  .section-two .section-two-text {
    max-width: 474px;
  }
}

@media screen and (min-width: 1280px) {
  .section-two {
    padding-bottom: 200px;
  }

  .section-two-title {
    font-size: 40px;
    margin-bottom: 60px;
  }

  .section-two .section-two-text {
    max-width: 796px;
    font-size: 24px;
  }
}

/********** section-three **********/

.section-three {
  padding-top: 0;
  padding-bottom: 100px;
}

.section-three-title {
  color: var(--title-text-color);
  text-align: center;
  font-family: Unbounded;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 26px */
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 32px;
}

.section-three .wrapper {
  border-radius: 20px;
  background: #fff;
  padding: 40px 32px 40px 31px;
  height: 700px;
  max-width: 323px;
  margin-left: auto;
  margin-right: auto;
}

.section-three .space-one {
  margin-bottom: 40px;
}

.section-three-image {
  display: block;
  margin-left: auto;
  margin-right: auto;

  margin-top: 0;
  margin-bottom: 28px;
}

.expert-title {
  color: var(--title-text-color);
  text-align: center;
  font-family: Unbounded;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 90%; /* 18px */
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 16px;
}

.expert-text {
  color: var(--black-text-color);
  font-family: Mulish;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 19.5px */

  width: 251px;

  margin-top: 0;
  margin-bottom: 8px;
  margin-left: auto;
  margin-right: auto;
}

.zero-margin {
  margin-bottom: 0;
}

.expert-text-two {
  color: var(--black-text-color);
  font-family: Mulish;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 19.5px */

  width: 251px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.section-three .space-two {
  margin-bottom: 12px;
}

@media screen and (min-width: 768px) {
  .section-three {
    padding-bottom: 140px;
  }

  .section-three .space-one {
    margin-bottom: 0;
  }

  .wrapper-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 36px;
  }
}

@media screen and (min-width: 1280px) {
  .section-three {
    padding-bottom: 200px;
  }

  .section-three-title {
    font-size: 40px;
    margin-bottom: 80px;
  }

  .wrapper-flex {
    gap: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .section-three .wrapper {
    max-width: 480px;
    height: 860px;
    padding: 40px 40px 48px 40px;
    border-radius: 30px;
    margin-right: unset;
    margin-left: unset;
  }

  .expert-title {
    font-size: 28px;
    margin-bottom: 20px;
  }

  .expert-text {
    text-align: center;
    font-size: 18px;
    width: 400px;
  }

  .expert-text-two {
    text-align: center;
    font-size: 18px;
    width: 400px;
  }
}

/********** section-four **********/

.section-four {
  padding-top: 0;
  padding-bottom: 80px;
}

.section-four-title {
  text-align: center;
  font-family: Unbounded;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 26px */
  text-transform: uppercase;

  width: 255px;
  margin-top: 0;
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
}

.course-list {
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 40px;
}

.course-list-item {
  position: relative;

  height: 539px;
  max-width: 323px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;

  padding: 40px 24px 40px 23px;
}

.course-list-item:last-child {
  margin-bottom: 0;
}

.module-title {
  text-align: center;
  color: var(--title-text-color);
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;

  padding: 12px 22px;

  border-radius: 80px;
  border: 1px solid var(--title-text-color);

  max-width: 269px;
}

.list-punks {
  list-style: none;
  padding: 0;
}

.list-punks-item {
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.32px;

  margin-top: 0;
  margin-bottom: 20px;
}

.list-punks .stroke::after {
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);

  margin-top: 20px;
}

.included {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;

  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.included-text {
  font-family: Mulish;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.28px;

  padding: 6px 20px;

  border-radius: 40px;
  border: 1px solid #fff;

  margin-top: 0;
  margin-bottom: 0;
}

.included-plus {
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.4px;
  margin-left: 8px;
  margin-right: 8px;
}

.text-longest-course {
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;

  max-width: 185px;

  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .section-four {
    padding-bottom: 120px;
  }

  .section-four-title {
    font-size: 24px;
    width: 314px;
    line-height: 90%;
  }

  .course-list {
    display: flex;
    flex-wrap: wrap;
    gap: 36px;
  }

  .course-list-item {
    margin-bottom: 0;
  }

  .text-longest-course {
    max-width: 286px;
  }
}

@media screen and (min-width: 1280px) {
  .section-four {
    padding-bottom: 200px;
  }

  .section-four-title {
    font-size: 40px;
    width: 530px;
  }

  .course-list {
    gap: 40px;
    margin-bottom: 60px;
  }

  .course-list-item {
    max-width: 560px;
    padding: 40px;
    height: 580px;
  }

  .module-title {
    font-size: 28px;
    margin-left: unset;
    margin-right: unset;
    max-width: 370px;
    padding: 16px 5px;
  }

  .list-punks-item {
    font-size: 20px;
  }

  .included-text {
    font-size: 20px;
  }

  .text-longest-course {
    font-size: 28px;
    max-width: 500px;
  }
}

/********** section-five **********/

.section-five {
  padding-top: 0;
  padding-bottom: 100px;
}

.section-five-title {
  color: var(--title-text-color);
  text-align: center;
  font-family: Unbounded;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 26px */
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 56px;
}

.tariff-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tariff-item {
  padding: 20px 20px;
  border-radius: 30px;
  background: #fff;
  margin-bottom: 40px;

  max-width: 336px;

  margin-left: auto;
  margin-right: auto;

  border: 2px solid #fff;
}

.tariff-item:last-child {
  margin-bottom: 0;
}

.tariff-name {
  text-align: center;
  color: var(--black-text-color);
  font-family: Unbounded;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.8px;

  margin-top: 0;
  margin-bottom: 20px;
}

.desc-list {
  list-style: none;
  padding: 0;
}

.desc-item {
  color: var(--black-text-color);
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.32px;

  margin-top: 0;
  margin-bottom: 16px;

  max-width: 275px;

  margin-left: auto;
  margin-right: auto;
}

.desc-item:last-child {
  margin-bottom: 40px;
}

.section-five .stroke::after {
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  background-color: rgba(13, 13, 13, 0.3);
  margin-top: 16px;
}

.tariff-cost {
  text-align: center;
  color: var(--black-text-color);
  font-family: Unbounded;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.56px;

  margin-top: 0;
  margin-bottom: 12px;
}

.buy-link {
  display: block;
  max-width: 296px;
  padding: 16px 60px;
  border-radius: 60px;
  background: var(--black-text-color);

  color: #fff;
  text-align: center;
  font-family: Unbounded;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
  text-transform: uppercase;

  text-decoration: none;

  margin-left: auto;
  margin-right: auto;
}

.tariff-name-alt {
  text-align: center;
  color: #fff;
  font-family: Unbounded;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.8px;

  margin-top: 0;
  margin-bottom: 20px;
}

.tariff-list .alt {
  border: 2px solid #fff;
  background: rgba(13, 13, 13, 0.6);
}

.desc-item-alt {
  color: var(--white-text-color);
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.32px;

  margin-top: 0;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;

  max-width: 336px;

  margin-left: auto;
  margin-right: auto;
}

.desc-item-alt:last-child {
  margin-bottom: 32px;
}

.section-five .stroke-two::after {
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  margin-top: 16px;
}

.tariff-cost-alt {
  text-align: center;
  color: var(--white-text-color);
  font-family: Unbounded;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.56px;

  margin-top: 0;
  margin-bottom: 12px;
}

.buy-link-alt {
  display: block;
  max-width: 296px;
  padding: 16px 88px;
  border-radius: 60px;
  background: var(--white-text-color);

  color: var(--black-text-color);
  text-align: center;
  font-family: Unbounded;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
  text-transform: uppercase;

  text-decoration: none;

  margin-left: auto;
  margin-right: auto;
}

.cross-out {
  color: rgba(13, 13, 13, 0.4);
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.32px;
  text-decoration: line-through;
}

.cross-out-two {
  color: rgba(255, 255, 255, 0.4);
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.32px;
  text-decoration: line-through;
}

@media screen and (min-width: 768px) {
  .section-five {
    padding-bottom: 140px;
  }

  .section-five-title {
    font-size: 24px;
    max-width: 438px;

    margin-left: auto;
    margin-right: auto;

    margin-bottom: 40px;
  }

  .tariff-list {
    display: flex;
    gap: 20px;
  }

  .tariff-item {
    max-width: 214px;
    margin-bottom: 0;
    border-radius: 20px;
    padding: 20px 15px;
  }

  .tariff-name {
    font-size: 32px;
    margin-bottom: 16px;
  }

  .tariff-name-alt {
    font-size: 32px;
    margin-bottom: 16px;
  }

  .section-five .stroke::after {
    margin-top: 12px;
  }

  .desc-item {
    margin-bottom: 12px;
    font-size: 14px;
  }

  .desc-item-alt {
    margin-bottom: 12px;
    font-size: 14px;
  }

  .section-five .stroke-two::after {
    margin-top: 12px;
  }

  .section-five .stroke-two::after {
    margin-top: 12px;
  }

  .buy-link {
    font-size: 12px;
    max-width: 184px;
    padding: 12px 40px;
  }

  .buy-link-alt {
    font-size: 12px;
    max-width: 184px;
    padding: 12px 40px;
  }

  .tariff-cost {
    font-size: 20px;
  }

  .tariff-cost-alt {
    font-size: 20px;
  }

  .desc-item:last-child {
    margin-bottom: 32px;
  }

  .desc-item-alt:last-child {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .section-five {
    padding-bottom: 200px;
  }

  .section-five-title {
    font-size: 40px;
    max-width: 644px;

    margin-bottom: 80px;
  }

  .tariff-list {
    gap: 40px;
  }

  .tariff-item {
    max-width: 360px;
    border-radius: 30px;
    padding: 40px 32px;
  }

  .tariff-name {
    font-size: 40px;
    margin-bottom: 20px;
  }

  .tariff-name-alt {
    font-size: 40px;
    margin-bottom: 20px;
  }

  .section-five .stroke::after {
    margin-top: 16px;
  }

  .desc-item {
    margin-bottom: 16px;
    font-size: 18px;
  }

  .desc-item-alt {
    margin-bottom: 16px;
    font-size: 18px;
  }

  .section-five .stroke-two::after {
    margin-top: 16px;
  }

  .section-five .stroke-two::after {
    margin-top: 16px;
  }

  .buy-link {
    font-size: 16px;
    max-width: 296px;
    padding: 16px 40px;
  }

  .buy-link-alt {
    font-size: 16px;
    max-width: 296px;
    padding: 16px 40px;
  }

  .tariff-cost {
    font-size: 28px;
  }

  .tariff-cost-alt {
    font-size: 28px;
  }

  .desc-item:last-child {
    margin-bottom: 40px;
  }

  .desc-item-alt:last-child {
    margin-bottom: 40px;
  }
}

/********** section-six **********/

.section-six {
  padding-top: 0;
  padding-bottom: 82px;
}

.section-six-title {
  text-align: center;
  font-family: Unbounded;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 28px */
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .section-six {
    padding-bottom: 96px;
  }

  .section-six-title {
    font-size: 24px;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1280px) {
  .section-six-title {
    font-size: 40px;
  }
}

/********** section-six-timer **********/

.countdown {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.countdown-number {
  display: inline-block;
  text-align: center;

  border-radius: 20px;
  background: var(--title-text-color);
  padding: 10px 10px;
  width: 81px;
}

.countdown-time {
  color: var(--black-text-color);
  font-family: Unbounded;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.64px;
}

.countdown-doubledot {
  color: var(--title-text-color);
  font-family: Unbounded;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.64px;
}

@media screen and (min-width: 768px) {
  .countdown-number {
    width: 108px;
  }

  .countdown-time {
    font-size: 40px;
    letter-spacing: -0.8px;
  }

  @media screen and (min-width: 1280px) {
    .countdown-number {
      width: 160px;
    }

    .countdown-time {
      font-size: 64px;
      letter-spacing: -1.28px;
    }
  }
}

/********** section-footer **********/

.section-footer {
  padding-top: 0;
  padding-bottom: 32px;
}

.section-footer .wrapper {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.footer-link {
  color: var(--white-text-color);
  font-family: Mulish;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.3px;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.footer-list-two-item {
  text-align: right;
}

.footer-list-two {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-list-two .space-one {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .footer-link {
    font-size: 18px;
  }
}

@media screen and (min-width: 1280px) {
  .section-footer {
    padding-bottom: 60px;
  }

  .footer-link {
    font-size: 24px;
  }
}
